In [1]:
import pandas as pd

# File paths
csv_file1 = r'C:\Users\17143\Project 3\California_All_Grades_All_Formulations_Retail_Gasoline_Prices.csv'
csv_file2 = r'C:\Users\17143\Project 3\Chargers_California_new.csv'
csv_file3 = r'C:\Users\17143\Project 3\cleaned_combined_fuel_types.csv'

# Read CSV files into pandas DataFrames
df1 = pd.read_csv(csv_file1)
df2 = pd.read_csv(csv_file2)
df3 = pd.read_csv(csv_file3)

# Display the first few rows of each DataFrame
print("DataFrame 1:")
print(df1.head())

print("\nDataFrame 2:")
print(df2.head())

print("DataFrame 3:")
print(df3.head())

C:\Users\17143\AppData\Local\Temp\ipykernel_12540\1945843252.py:11: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv(csv_file3)

DataFrame 1:
   2023  4.879
0  2022  5.406
1  2021  4.100
2  2020  3.132
3  2019  3.677
4  2018  3.551

DataFrame 2:
      County  Public Level 1  Shared Private Level 1  Public Level 2  \
0    Alameda               4                      72            1625
1     Alpine               0                       0              10
2     Amador               0                       0              26
3      Butte               6                       0              63
4  Calaveras               0                       2               9

   Shared Private Level 2  Public DC Fast  Shared Private DC Fast  Total  \
0                    2488             398                      37   4624
1                       0               0                       0     10
2                       0               8                       0     34
3                      55              25                       0    149
4                       0              12                       0     23

       Date Unnamed: 9                          Unnamed: 10 Unnamed: 11  \
0  9/1/2023        big                                 1500         NaN
1  9/1/2023     small'                                  NaN         NaN
2  9/1/2023     small'                                  NaN         NaN
3  9/1/2023     small'  find all total chargers for alameda         NaN
4  9/1/2023     small'                              Alameda  total cars

  Unnamed: 12  Unnamed: 13 Unnamed: 14 Unnamed: 15  Unnamed: 16  Unnamed: 17
0         NaN          NaN         NaN         NaN          NaN          NaN
1         NaN          NaN         NaN     Alameda          4.0         72.0
2         NaN          NaN         NaN      Alpine          0.0          0.0
3         NaN          NaN         NaN      Amador          0.0          0.0
4       51881          NaN      sumifs       Butte          6.0          0.0
DataFrame 3:
   Year  Zip Code Model Year                      Fuel       Make   Duty  \
0  2019     90000      <2006  Diesel and Diesel Hybrid      WHITE  Heavy
1  2019     90000      <2006                  Gasoline  CHEVROLET  Light
2  2019     90000      <2006                  Gasoline      DODGE  Light
3  2019     90000      <2006                  Gasoline       FORD  Light
4  2019     90000      <2006                  Gasoline        GMC  Light

   Vehicles
0        19
1        33
2        11
3        28
4        19

In [2]:
import pandas as pd

# Read CSV file into a pandas DataFrame (assuming df2 is already loaded)
df2 = pd.read_csv(csv_file2)

# Drop unnamed columns
df2 = df2.loc[:, ~df2.columns.str.contains('^Unnamed')]

# Drop rows with null values
df2 = df2.dropna()

# Display the first few rows of the DataFrame after dropping
print("DataFrame 2 after dropping unnamed columns and rows with null values:")
print(df2.head())

DataFrame 2 after dropping unnamed columns and rows with null values:
      County  Public Level 1  Shared Private Level 1  Public Level 2  \
0    Alameda               4                      72            1625
1     Alpine               0                       0              10
2     Amador               0                       0              26
3      Butte               6                       0              63
4  Calaveras               0                       2               9

   Shared Private Level 2  Public DC Fast  Shared Private DC Fast  Total  \
0                    2488             398                      37   4624
1                       0               0                       0     10
2                       0               8                       0     34
3                      55              25                       0    149
4                       0              12                       0     23

       Date
0  9/1/2023
1  9/1/2023
2  9/1/2023
3  9/1/2023
4  9/1/2023

In [3]:
print("DataFrame 1:")
print(df1.head())

print("\nDataFrame 2:")
print(df2.head())

print("DataFrame 3:")
print(df3.head())

DataFrame 1:
   2023  4.879
0  2022  5.406
1  2021  4.100
2  2020  3.132
3  2019  3.677
4  2018  3.551

DataFrame 2:
      County  Public Level 1  Shared Private Level 1  Public Level 2  \
0    Alameda               4                      72            1625
1     Alpine               0                       0              10
2     Amador               0                       0              26
3      Butte               6                       0              63
4  Calaveras               0                       2               9

   Shared Private Level 2  Public DC Fast  Shared Private DC Fast  Total  \
0                    2488             398                      37   4624
1                       0               0                       0     10
2                       0               8                       0     34
3                      55              25                       0    149
4                       0              12                       0     23

       Date
0  9/1/2023
1  9/1/2023
2  9/1/2023
3  9/1/2023
4  9/1/2023
DataFrame 3:
   Year  Zip Code Model Year                      Fuel       Make   Duty  \
0  2019     90000      <2006  Diesel and Diesel Hybrid      WHITE  Heavy
1  2019     90000      <2006                  Gasoline  CHEVROLET  Light
2  2019     90000      <2006                  Gasoline      DODGE  Light
3  2019     90000      <2006                  Gasoline       FORD  Light
4  2019     90000      <2006                  Gasoline        GMC  Light

   Vehicles
0        19
1        33
2        11
3        28
4        19

In [6]:
import pandas as pd
import sqlite3
import io

# Assuming you have already created df1, df2, and df3

# Print the DataFrames
print("DataFrame 1:")
print(df1.head())

print("\nDataFrame 2:")
print(df2.head())

print("DataFrame 3:")
print(df3.head())

# Initialize SQLite database in memory
conn = sqlite3.connect(':memory:')

# Store DataFrames in the database
df1.to_sql('table1', conn, if_exists='replace', index=False)
df2.to_sql('table2', conn, if_exists='replace', index=False)
df3.to_sql('table3', conn, if_exists='replace', index=False)

# Create a file-like object to store the database
buffer = io.BytesIO()

# Dump the database as UTF-8 encoded bytes
for line in conn.iterdump():
    buffer.write((line + '\n').encode('utf-8'))

# Close the connection to the in-memory database
conn.close()

# Reset the buffer position to the beginning
buffer.seek(0)

# Write the database to a file
with open('my_database.db', 'wb') as f:
    f.write(buffer.getvalue())

print("DataFrames stored in SQLite database with UTF-8 encoding successfully.")

DataFrame 1:
   col1 col2
0     1    a
1     2    b
2     3    c

DataFrame 2:
   col1 col2
0     4    d
1     5    e
2     6    f
DataFrame 3:
   col1 col2
0     7    g
1     8    h
2     9    i
DataFrames stored in SQLite database with UTF-8 encoding successfully.